PORT=3002
HOST=127.0.0.1
DOWNLOAD_DIR=./downloads
MEDIA_DIR=/mnt/media2/Lænsmann Studio/LS NEDLASTEREN
MAX_CONCURRENT_JOBS=5
JOB_TIMEOUT=600000
FILE_RETENTION_MS=900000
CLEANUP_INTERVAL_MS=60000
JS_RUNTIME=deno:/home/kevin/.config/spotdl/deno
FFMPEG_THREADS=4
YTDLP_CONCURRENT_FRAGMENTS=8
