[Unit]
Description=Check Lænsmann MP3 for updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=mp3-pull.service

[Install]
WantedBy=timers.target